<h1>About</h1>

<p>Web program for generating deal fields for simple deals.  The nutshell and writeup still always need to be written. This can't describe deals at all, it only formats options.</p>
<br>
<p>I'll Soon:</p>
<ul>
  <li>Add Multi-Vouchers</li>
  <li>Add a Menu/Schedule/Facebook Link Field Pre-Formatted in Markup</li>
  <li>Validate the Product Deal Multi-Option Fields</li>
</ul> 
<p>I'll Eventually:</p>
 <ul>
  <li>Obey Field Character Limits</li>
  <li>Improve Time Based Deals Like: 60 Minute Massage, 90 Minute Massage</li>
  <li>Checkboxes that Pre-Format Callouts</li>
  <li>Make Only the Fields You Need to Select Visible</li>
</ul> 
<br>
<p>Reach For The Sky, John:</p>
 <ul>
  <li>Pull in Parameters</li>
  <li>Automatic Nutshells for Medical Deals</li>
  <li>Deals Like: One Facial, Two Facials, or WhiteWater Rafting Party</li>
  <li>Prixe Fix Deals</li>
	<li>Format Laser Hair Info Overlays</li>
	<li>Improve How RESTful Pages Are</li>
</ul> 