<h1>About</h1>

<p>Web program that generates micro-copy fields for deals.  The nutshell and writeup still need to be written. This can't describe deals at all, it exclusively formats options.</p>
<br>
<p>I'll Soon:</p>
<ul>
  <li>Support Multi-Voucher Deals</li>
  <li>Add a Menu/Schedule/Facebook Link Field that Spits Out Pre-Formatted Markup</li>
  <li>Validate Product Deal Multi-Option Fields</li>
  <li>Make Only the Fields You Need to Fill in Visible</li>
  <li>Add a No-Explanation Input Page</li>
</ul> 
<p>With Time I Can:</p>
 <ul>
  <li>Add "Copy This Field" Buttons</li>
  <li>Improve the Writeup Field for Multi-Option Product Deals</li>
  <li>Improve Output for Time Based Deals Like: 60 Minute Massage, 90 Minute Massage</li>
  <li>Obey Groupon Field Character Limits (this will create huge improvements in the app, ask me about them)</li>
  <li>Add Checkboxes that Pre-Format Writeup Callouts: Like Massage Licence Numbers</li>
  <li>Make Only the Fields You Need to Select Visible</li>
  <li>Add Support for Deals Like: One Facial, Two Facials, or Whitewater Rafting Party</li>
  <li>Add Prixe Fix Deals</li>
	<li>Format Laser Hair Info Overlays</li>
</ul> 
<br>
<p>Reach For The Sky, John:</p>
 <ul>
  <li>Pull in Parameters</li>
  <li>Add Automatic Nutshells for Medical Deals</li>
	<li>Put the Site on a Groupon Owned Domain</li>
</ul> 