<footer class="footer">
  <small>
    Hi, Mom!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "/first_inputs/about" %></li>
      <li><%= link_to "Contact", "/first_inputs/contact" %></li>
    </ul>
  </nav>
</footer>