    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "New Deal", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Primers', 'https://sites.google.com/a/groupon.com/recycling-bin/local/primers' %></li>          
            <li><%= link_to 'Snippets', 'https://skynet.groupon.com/docs/DOC-25436' %></li>
          </ul>
        </nav>
      </div>
    </header>